@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container {
    width: 100%;
    text-align: center;
    background-color: hsl(240, 78%, 98%);
    background-image: url('../images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: 105% top;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}


/* Heading */

.heading-and-toggle-container {
    padding: 2.5em 0;
}


.heading-text {
    color:  hsl(233, 13%, 49%);
    font-size: 2rem;
}


/* Toggler */

.toggle-plan {
    display: flex;
    margin: 2rem 0;
    align-items: center;
}

.toggle-plan p {
    margin: 0 1rem;
    color: hsl(234, 14%, 74%);
}


.switch {
    position: relative;
    height: 2rem;
    width: 3.5rem;
    display: block;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-image: linear-gradient(90deg, hsl(238, 59%, 84%), hsl(237, 68%, 62%));
    transition: .5s;
    border: none;
    outline: none;

}


.slider.round {
    border-radius: 100px;
}


.slider:before {
    position: absolute;
    content: "";
    top: 0.25rem;
    bottom: 0.23rem;
    left: 0.25rem;
    background-color: white;
}


input:checked + .slider {
    background-image: linear-gradient(90deg, hsl(238, 59%, 84%), hsl(237, 68%, 62%));
}

input:checked + .slider:before {
    right: 0.25rem;
    transform: translateX(1.48rem);
}


.slider.round:before {
    width: 1.52rem;
    border-radius: 100px;
}



/* Pricing Cards */

.pricing-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



/* Cards */

.card {
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: .65rem;
    color: hsl(233, 13%, 49%);
    padding: 1rem 1.5rem;
    max-width: 20rem;
    box-shadow: 1px 1px 100px rgb(233, 232, 232);
}


.effective-card {
    background-image: linear-gradient(hsl(237, 62%, 77%), hsl(237, 63%, 62%));
    color: white;
}

.effective-card .price-section p,
.effective-card .price-section span{
    color: white;
}

.card-heading {
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
}


.price-section {
    margin: 2rem 0;
}

.price {
    font-size: 2.1rem;
    color: hsl(232, 13%, 33%);
}

.amount {
    font-size: 3.5rem;
    vertical-align: middle;
}


.card-info {
    border-top: 1px solid hsl(240, 13%, 86%);
    padding: 1rem;
}

.card-info-bottom {
    border-bottom: 1px solid hsl(240, 13%, 86%);
}


.button {
    margin: 2rem 0 1rem 0;
    border-radius: 8px;
    border: 1px solid rgb(182, 181, 181);
    padding: 0.75rem;
    background-color: white;
    color: hsl(232, 70%, 62%);
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid white;
}

.button-clicked {
    transform: scale(.95, .95);
}


.accent-button {
    background-image: linear-gradient(90deg, hsl(237, 62%, 77%), hsl(237, 63%, 62%));
    color: white;
    border: 2px solid white;    
}

.accent-button-clicked {
    background-color: white;
    background-image: none;
    color: hsl(232, 70%, 62%);
    border-radius: 8px;
    border: 2px solid hsl(232, 70%, 62%);;
}

.no-border-button-clicked {
    background-color: hsl(232, 70%, 62%);
    
    color: white;
}


@media (min-width: 375px) {
    .price {
        font-size: 2.3rem;
        color: hsl(232, 13%, 33%);
    }
    
    .amount {
        font-size: 4.3rem;
        vertical-align: middle;
    }
}


@media (min-width:1100px) {
    .wrapper {
       height: 100vh;
       background-color: rgb(224, 224, 224);
    }
    .container {
        background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
        background-position: right top, bottom left;
        background-repeat: no-repeat, no-repeat;
    }

    .pricing-cards-container {
        flex-direction: row;
    }

    .effective-card {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }
    
    .side-card-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .side-card-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .button {
        margin-top: 3rem;
    }

}